@media only screen
and (max-width : 2000px) {

}
@media only screen
and (max-width : 1240px) {

}
@media only screen
and (max-width : 1050px) {
}
@media only screen
and (min-width : 1100px) {
    .svg-content {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        height: auto;
        width: 100%;
    }
}
@media only screen
and (max-width : 990px) {
    .headerrow {
        padding-top: 40px !important;
    }
    .top-subtext {
        font-size: 18px !important;
    }
    .titlerow {
        margin-bottom: 20px !important;
    }
    .titlerow h2,
    .titlerow img {
        text-align: center !important;
        float: none !important;
        padding-left: 0 !important;
    }
    .px5 {
        padding-left: 0rem !important;
        padding-right: 0rem !important;
    }
    .cbp-af-header nav a {
        line-height: 3 !important;

    }
    .cbp-af-header nav {
        float: right !important;
    }
}
@media only screen
and (max-width : 840px) {

}
@media only screen
and (max-width : 800px) {
    .separator.contact {
        display: none !important;
    }
    .indie-venue {
        padding-top: 75px !important;
        padding-bottom: 100px !important;
    }
    .logos {
        display: none !important;
    }
}
@media only screen
and (max-width : 769px) {

}
@media only screen
and (max-width : 750px) {

}
@media only screen
and (max-width : 600px) {
    .top-subtext span {
        padding: 0px 20px !important;
    }
}
@media only screen
and (max-width : 500px) {
    .cbp-af-header nav a {
        line-height: 3 !important;
    }
    .cbp-af-header nav {
        float: none !important;
    }
    .cbp-af-header {
        height: auto !important;
        text-align: center !important;
    }
    .field-wrap {
        float: left !important;
        width: 100% !important;
        margin-right: 0% !important;
        margin-bottom: 25px !important;
    }
}
@media only screen
and (max-width : 420px) {
    .top-subtext {
        font-size: 16px !important;
    }
    .top-subtext span {
        padding: 0px 10px !important;
    }
    label {
        font-size: 19px !important;
    }
    .field-wrap {
        float: left !important;
        width: 100% !important;
        margin-right: 0% !important;
        margin-bottom: 10px !important;
    }
}
@media only screen
and (max-width : 360px) {
    .cbp-af-header {
        height: auto !important;
    }
    .cc-mainlogo {
        display: none;
    }
    .titlerow {
        margin-top: 30px;
    }
    .form {
        padding: 13px;
    }
    #twitter iframe {
        max-width: 300px !important;
    }
}
@media only screen
and (max-width : 320px) {

}

/* iPhone 4 ----------- */
@media screen and (max-height:500px) {

}
