








/* 
**
**  Buttons Stuff
**
*/


.btn-indie {
	border-radius:0;
	text-transform:uppercase;
	background-color: $red;
	color:$main-color;
	border-width:2px;
	border-style:solid;
	border-color:transparent;
	
	&:hover { background-color: darken($red, 2); }

	.indie-demo ~ :not(.indie-slide__info) &, .form-inline &, .indie-form-inline & {
		font-size: 19px;
		padding: 4px 8px;	
	}

	.widget-featured &, &.inverse {
		background-color: $main-color;
		color:$red;
		border:2px solid;
		&:hover { background-color: darken($main-color, 2) }
	}

	&.transp, &.transp:hover { background-color: transparent!important; }
	

	// @include coloring($colors, 'btn-', false) { 
	// 	background-color: $color;
	// 	color:$main-color;
	// 	&:hover { background-color: darken($color, 2); }
	// 	.widget-featured &, &.inverse {
	// 		background-color: $main-color;
	// 		color:$color;
	// 		border:2px solid;
	// 		&:hover { background-color: darken($main-color, 2) }
	// 	}
	// }
	

	&.btn-thin { border-width:1px; }
	

	// Bootstrap overrides
	&.btn-xs, .btn-group-xs > & {
		font-size: 10px;
	}

}


.btn {
	border-radius:0;
	&:focus, &:active, &:focus:active {
		outline:none;
		box-shadow:none;
	}
}

.btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger, .btn-link { border:none; }


.btn-rounded {
	width: 35px;
	height: 35px;
	background-color: $red;
	border-radius:50%;
	display: inline-block;
	line-height: 35px;
	margin-right:5px;
	vertical-align: middle;
	text-align: center;
	color:$main-color;
	padding-top: 2px;
	border:none;
	&.small {
		width: 25px;
		height: 25px;
		line-height: 25px;
		font-size: 100%;
	}
	&:hover { color: darken($main-color,5); }
	&:focus { color:$main-color; }
}

































/* 
**
**  Specific Slider :: Demo Stuff
**
*/


.indie-slide__info {
	position: absolute;
	z-index: 100;
	&:not(button) { line-height: 1; }
	font-family:'Melbourne-Regular';
	&, & > * {
		opacity: 0;
		transform:translateX(-100%);
		transition-duration: 500ms;
	}
	& > * {
		transition-delay: 250ms;
	}
	.selected & > *, .selected &  {
		opacity: 1;
		transform: translateX(0);
	}
}


	.slide_1--location {
		right: 18.5%;
		top: 73%;
		font-size: 2.2vw;
		color:$light-red;
	}

	.slide_1--buy {
		right: 18.5%;
		top: 79%;
		font-size: 1.8vw;
		padding: 0.2em 0.6em;
		font-family:'Melbourne-Bold';
	}

	
	.slide_2--title, .slide_3--title {
		left: 17.5%;
		top: 36%;
		font-size: 5.2vw;
		color:#b7b7b7;
		font-family:'Melbourne-Bold';
		border:1px solid #b7b7b7;
		border-right:none;
		padding: 0 0.05em;
		&::after {
			content:'';
			position: absolute;
			width: 1.2em;
			height: 1px;
			background-color: #b7b7b7;
			right: -1.2em;
			bottom: -1px;
		}
	}

	.slide_3--title::after { 
		width: 2em;
		right: -2em;
	}

	.slide_3--title-add {
		left: 17.5%;
		top: 24%;
		font-size: 5.2vw;
		color:#b7b7b7;
		font-family:'Melbourne-Bold';
	}

	.slide_2--details, .slide_3--details {
		left: 17.5%;
		top: 52%;
		width: 28%;
		display: table;
		color:#b7b7b7;
		span {
			position: relative;
			font-size: 1.2vw;
			display:table-cell;
			font-family:'Melbourne-Light';
			&:last-child { text-align: right; }
			&:not(:last-child)::after {
				content: '';
				position: absolute;
				top: 0;
				right: 20%;
				width: 1px;
				height: 1em;
				background-color: #b7b7b7;
			}
		}
	}

	.slide_2--buy, .slide_3--buy {
		left: 17.5%;
		top: 62%;
		font-size: 1.4vw;
		padding: 0.2em 0.6em;
		font-family:'Melbourne-Bold';
		background-color: transparent!important;
	}

	.slide_2--play {
		width: 6vw;
		height: 6vw;
		top: 50%;
		left: 50%;
		background-color: transparent;
		border: none;
		stroke: #b7b7b7;
		margin-top: -3.5vw;
		margin-left: -3vw;
		transition-delay: 500ms;
		transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550);
		&:focus, &:active { outline:none; }

	}

	.slide_2--watch {
		background: none;
		border: none;
		left: 54%;
		top: 46%;
		color: #b7b7b7;
		font-size: 1.2vw;
		border-right: 1px solid;
		padding: 0;
		padding-right: 1em;
		&:focus, &:active { outline:none; }
	}

	.slide_2--logo, .slide_3--logo {
		width: 16vw;
		height: 6vw;
		bottom: 15%;
		left: 50%;
		margin-left: -8vw;
		svg {
			width: 100%;
			height: 100%;

		}
	}

	[class*="slide_2"] {
		
		.playing & {
			opacity: 0;
		}
	}























/* 
**
**  Navigation Stuff
**
*/



.navbar {
	transition: background-color, .3s;
	&.nav-bg {
		background-color: $main-color;
	}
}

.indie-navigation {
	margin: 10px 0;
	font-size: 16px;
	line-height: 1;
	a {
		color:currentColor;
		text-transform: uppercase;
		border:2px solid transparent;
	}
	& > li > a { padding: 8px 13px; }
	& > li:hover > a,
	
	& > li.active > a, 
	& > li.active > a:hover, 
	& > li.active > a:focus,
	& > li.active > a:active  {
		color:currentColor;
		background-color: transparent;
		border:2px solid;
		border-radius:0;
	}
	& > li > a:focus {
		color:currentColor;
		background-color: transparent;
		border:2px solid;
		border-radius:0;
	}
	&.nav-justified {
		border-collapse: separate;
		border-spacing: 3px 0;
	}
}
















$button-size : 20px;

@mixin line {
  display: inline-block;
  width: $button-size;
  height: 2px;
  background-color: $red;
  transition: 150ms;
}
 
.mobile-btn {
  display: inline-block;
  padding: $button-size/2 $button-size/4;
  transition: .3s;
  cursor: pointer;
  user-select: none;
  background: none;
  border:none;
  position: absolute;
  z-index: 99;
  top: 8px;
  right: 5px;
  display: none;
  &:active, &:focus { outline: none; }
}


.lines {
  @include line;
  position: relative; 
  
  &:before, &:after { 
   	@include line;
    position: absolute;
    left:0;
    content: '';
    transform-origin: 50% 50%;
  	transition: top 150ms 250ms ease, transform 150ms ease;
  }
  &:before { top: $button-size/4; }
  &:after { top: -$button-size/4; }
  transition: background 150ms 250ms ease;

}

.mobile-btn.x .lines{
    background: transparent;
    &:before, &:after{
      transition: top 250ms ease, transform 150ms 250ms ease;      
      top:0;
      width: $button-size;
    }
    &:before{ transform: rotate3d(0,0,1,45deg); }
    &:after{  transform: rotate3d(0,0,1,-45deg); }
}





































/* 
**
**  Syntax Highlighter Stuff
**
*/


:not(pre) > code[class*="language-"], pre[class*="language-"] {
	background-color: $main-color;
	padding: 1.3em;
	color:currentColor;
	border-color:currentColor;
	::selection { background: yellow; }
	::-moz-selection { background: yellow; }
	cursor:pointer;

	.widget-featured & { color:$red; }
}

:not(pre) > code[class*="language-"]::selection { background: yellow; }
:not(pre) > code[class*="language-"]::-moz-selection { background: yellow; }
pre[class*="language-"]::selection { background: yellow; }
pre[class*="language-"]::-moz-selection { background: yellow; }

code[class*="language-"], pre[class*="language-"], pre {
	color:currentColor;
	text-shadow:none;
	border-radius:0;
}

code {
	border-radius:0;
	padding: 3px 5px;
	font-size: 70%;
	color:currentColor;	
	.color-white & {
		color:$red;	
	}
	.section-white &, .indie-white & { color:$main-color; }
}

pre {
	-moz-tab-size:    2;
  -o-tab-size:      2;
  -webkit-tab-size: 2;
  -ms-tab-size:     2;
  tab-size:         2;
}


















/* 
**
**  Helpers &amp; Overrides Stuff
**
*/



// @include coloring($colors, 'color-', false) { 
// 	color: $color;
// 	&.indie-h:after { background-color: $color!important; }
// }
.color-light-red { color: $light-red; }

.text-uppercase {	text-transform:uppercase; }
.text-normalcase {	text-transform:none; }

.text-regular { font-family:'Melbourne-Regular'; }
.text-bold { font-family:'Melbourne-Bold'; }
.text-light { font-family:'Melbourne-Light'; }

.text-truncate {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.highlighted {
	border-radius: 0;
	padding: 3px 5px;
	color: $main-color;
	background-color: $red;
	// @include coloring($colors, 'alt-color-', true) {
	// 	background-color: alt-color($color);
	// 	color: $main-color!important;
	// }
	&.alt-color { background-color: $light-red;	}
}

.br { border-radius:4px; }

.fl-none { float: none!important; }
.dib { display: inline-block !important; }
.db { display: block !important; }
.di { display: inline !important; }


$max: 5;
$const : 0.5rem; // i.e 1:5px, 2:10px, 3:20px, 4:40px based on bootstrap initialization html

@for $i from 0 through $max {
	
	$value : pow(2,$i - 1) * $const;

	@if( $i > 0 ){

		// Margin
		.m#{$i} 	{ margin: 			 $value; }
		.mt#{$i} 	{ margin-top:    $value; }
		.mr#{$i} 	{ margin-right:  $value; }
		.mb#{$i} 	{ margin-bottom: $value; }
		.ml#{$i} 	{ margin-left:   $value; }
		
		// Negative x Margin
		.mxn#{$i} { margin-left: 	 -$value; }

		// Padding
		.p#{$i} 	{ padding: 			$value; }
		.py#{$i} 	{ padding-top: 	$value; padding-bottom: 	$value; }
		.px#{$i} 	{ padding-left:	$value; padding-right:		$value; }

		.p#{$i} 	{ padding:        $value; }
		.pt#{$i} 	{ padding-top:    $value; } 	
		.pr#{$i} 	{ padding-right:  $value; } 	
		.pb#{$i} 	{ padding-bottom: $value; } 	
		.pl#{$i} 	{ padding-left:   $value; }

		// Overrides
		.mt-#{$i*5} { margin-top: $i*5px; }
		.mr-#{$i*5} { margin-right: $i*5px; }
		.mb-#{$i*5} { margin-bottom: $i*5px; }
		.ml-#{$i*5} { margin-left: $i*5px; }


	} @else {
		.m#{$i} 	{ margin:        0 }
		.mt#{$i} 	{ margin-top:    0 } 	
		.mr#{$i} 	{ margin-right:  0 } 	
		.mb#{$i} 	{ margin-bottom: 0 } 	
		.ml#{$i} 	{ margin-left:   0 } 	

		.p#{$i} 	{ padding:        0 }
		.pt#{$i} 	{ padding-top:    0 } 	
		.pr#{$i} 	{ padding-right:  0 } 	
		.pb#{$i} 	{ padding-bottom: 0 } 	
		.pl#{$i} 	{ padding-left:   0 } 	
	} // @if

} // @for


.mx-auto { margin-left: auto; margin-right: auto; }



$minFont : 10;
$maxFont : 20;

@for $i from $minFont through $maxFont {
	.fz-#{$i}{
		font-size: $i * 1px;
	}
}

@for $i from 1 through 20 {
	.w-#{$i*5}{
		width: $i * 5%;
	}
}

.em-0-5 { font-size: 0.5em; }
.em-0-25 { font-size: 0.25em; }
.em-0-75 { font-size: 0.75em; }
.em-1-5 { font-size: 1.5em; }
.em-1-25 { font-size: 1.25em; }
.em-1-75 { font-size: 1.75em; }
.em-2 { font-size: 2em; }
.em-2-5 { font-size: 2.5em; }
.em-3 { font-size: 3em; }
.em-3-5 { font-size: 3.5em; }
.em-4 { font-size: 4em; }

.em-5 { font-size: 5em; }
.em-7-5 { font-size: 7.5em; }

.em-10 { font-size: 10em; }
.em-20 { font-size: 20em; }


.lh-0-5 { line-height: 0.5em; }
.lh-0-25 { line-height: 0.25em; }
.lh-0-75 { line-height: 0.75em; }
.lh-1 { line-height: 1; }
.lh-1-5 { line-height: 1.5em; }
.lh-1-25 { line-height: 1.25em; }
.lh-1-75 { line-height: 1.75em; }
.lh-2 { line-height: 2em; }
.lh-2-5 { line-height: 2.5em; }
.lh-3 { line-height: 3em; }
.lh-3-5 { line-height: 3.5em; }
.lh-4 { line-height: 4em; }

hr { 
	border-top:2px solid;
	&.thin { border-top:1px solid; }
	&.bold { border-top:4px solid; }
}

.clip { overflow: hidden; }

.va-t { vertical-align: top; }
.va-m { vertical-align: middle; }
.va-b { vertical-align: bottom; }
.va-bl { vertical-align: baseline; }

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small { color:currentColor; }

.highlight-link {
	text-decoration:underline;
	font-weight:bold;
	font-family:'Melbourne-Bold';
 	&:hover { color:currentColor; }
}

a {
	color:currentColor;
	&:hover, &:focus { color:currentColor; }
}


.abs-center {
	position: absolute;
	margin:auto;
	left: 50%;
	top: 50%;
	transform:translate(-50%,-50%);
}



















/* 
**
**  Labels Stuff
**
*/


.indie-label {
	font-family:'Melbourne-Regular';
	display: inline-block;
	
	border:2px solid;
	border-radius:4px;

	padding:0.5em 1.2em;

	&.less {
		font-family:'Melbourne-Light';
		padding: .4em .7em;
		border-radius:2px;
	}

	&.inverse {
		color:$main-color;
		background-color: $red;
		// @include coloring($colors, 'color-', true) { 
		// 	background-color: $color;
		// }
	}

	&.label-block {
		display: block;
		text-align: center;
	}
	
	// @include coloring($colors, 'alt-color-', true) {
	// 	border:none;
	// 	background-color: alt-color($color);
	// 	color: $main-color!important;
	// }

}


















/* 
**
**  Forms Stuff
**
*/



.form-control {
	color:currentColor;
	background-color: transparent;
	border:2px solid;
	height: 40px;
	&:focus {
		border-color:currentColor;
		outline: 0;
		box-shadow:none;
	}
}

@include placeholder-input(){
	color:currentColor;
	font-family:'Melbourne-Light';
}

@include placeholder-input('.form-control'){
	color:currentColor;
	font-family:'Melbourne-Light';
}

.input-group-addon {
	color:currentColor;
	border:2px solid;
	background-color: transparent;
}


.input-group {
	.input-group-addon {
		background-color: transparent;
		border:2px solid;
	}
	.input-group-addon:last-child { border-left:0; }
	.form-control {
		background-color: transparent;
		border:2px solid;
		border-left:none;
	}
	
	input:focus, input:active { 
		outline:none;
		box-shadow:none;
	}
	label { cursor:pointer; }
}

.indie-form-inline {
	display: table;
	.form-group, button {
		display: table-cell;
		vertical-align: middle;
	}
	.form-group { 
		width: 100%;
		.input-group { width: 100%; }
	}
	button {
		margin-left: 15px;

	}
}

.indie-form-inline, .form-inline {
	button { padding: 4px 8px; }
}


input[type=range] { -webkit-appearance: none; width: 100%; }
input[type=range]::-webkit-slider-thumb { -webkit-appearance: none;}
input[type=range]:focus { outline: none;}
input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}


// Thumb
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 14px;
  width: 14px;
  border-radius: 100%;
  background: currentColor;
  cursor: pointer;
  margin-top: -6px; //
  box-shadow: 0 0 3px rgba($main-color,0.85);
}
input[type=range]::-moz-range-thumb {
  height: 14px;
  width: 14px;
  border-radius: 100%;
  background: currentColor;
  cursor: pointer;
}
input[type=range]::-ms-thumb {
  height: 14px;
  width: 14px;
  border-radius: 100%;
  background: currentColor;
  cursor: pointer;
}

// Track
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: currentColor;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: currentColor;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: currentColor;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: currentColor;
}
input[type=range]::-ms-fill-upper {
  background: currentColor;
}




























/* 
**
**  Loading Stuff
**
*/



#loading {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba($main-color,.94);
	z-index: 9999;
	top: 0;
	left: 0;
	transition: opacity .5s;
	// display: none;
	&.loaded {
		opacity: 0;
		.loader { transform:translate(-50%,-100%); }
	}

	.loader {
		position: absolute;
		left: 50%; top: 50%;
		transform:translate(-50%,-50%);
		transition: transform .5s;
		* {	animation: dash-fade-in 2s cubic-bezier(0.6,0,0.4,1) alternate infinite forwards; fill-opacity:0;	stroke-width:1px; stroke-dasharray: 3000;	stroke-dashoffset: 3000; }
	}
}



@keyframes dash-fade-in {
  50% { 
  	fill-opacity:0;
  	stroke-opacity: 1; 
  }
  100% {
  	stroke-opacity: 0; 
  	fill-opacity:1;
  	stroke-dashoffset: 0;
  }
}





